.button {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  border-radius: 3px;
  color: var(--white);
  font-weight: 500;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .button {
    font-size: 12px;
  }
}
