.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  height: calc(100vh - 35vh - 9vh);
  padding: 35vh 0 9vh;
}

.page-not-found__title {
  font-size: 140px;
  margin: 0;
}

.page-not-found__text {
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
}

@media (max-width: 1152px) {
  .page-not-found {
    height: calc(100vh - 40vh - 22vh);
    padding: 40vh 0 22vh;
  }
}

@media (max-width: 767px) {
  .page-not-found {
    height: calc(100vh - 42vh - 4vh);
    padding: 42vh 0 4vh;
  }

  .page-not-found__title {
    font-size: 80px;
  }

  .page-not-found__text {
    font-size: 12px;
  }
}
