.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: normal;
  padding: 246px 0 60px;
}

.page-not-found__title {
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.page-not-found__text {
  text-align: center;
  font-size: 16px;
  margin: 4px 0 184px;
}

@media (max-width: 1152px) {
  .page-not-found {
    padding: 408px 0 222px;
  }
}

@media (max-width: 767px) {
  .page-not-found {
    padding: 329px 0 30px;
  }

  .page-not-found__title {
    font-size: 80px;
  }

  .page-not-found__text {
    font-size: 12px;
    margin: 10px 0 284px;
  }
}
