.link {
    color: var(--orange);
    text-decoration: none;
}

.link:hover {
    opacity: 0.7;
}

.link:focus-visible {
    outline: 1px solid var(--violet);
    border-radius: 10px;
}

@media (max-width: 767px) {
    .link {
        font-size: 12px;
    }
}