.about-me {
  padding: 110px 0 100px;
}

.about-me__info {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
}

.about-me__column {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 18px;
}

.about-me__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__subtext {
  line-height: 22px;
  margin: 0;
}

.about-me__link {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  width: fit-content;
}

.about-me__link:focus-visible {
  outline: 1px solid var(--violet);
  border-radius: 10px;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1152px) {
  .about-me {
    padding: 90px 0;
  }

  .about-me__column {
    max-width: 364px;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin: 0 0 16px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .about-me__subtext {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 767px) {
  .about-me {
    padding: 70px 0;
  }

  .about-me__container {
    padding: 0 14px;
  }

  .about-me__info {
    padding-top: 60px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-me__subtitle {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 0 0 20px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 20px;
  }

  .about-me__subtext {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 35px;
  }

  .about-me__photo {
    width: 100%;
    height: auto;
  }
}
